$s-xs: 5px
$s-sm: 10px
$s-m: 15px
$s-lg: 30px
$s-xl: 60px

$c-green: #1ed760
$c-dark-green: #3fb950
$c-border-green: #2ea043
$c-black: #0d1117
$c-light-black: #282828
$c-grey: #c9d1d9
$c-tag-grey: #424242
$c-sand: #c8c8c8
$c-white: #ffffff
$c-blue: #4688d7
$c-theme: #EB6C7F

$f-default: Roboto Condensed, Lato, Arial, sans-serif
$f-italic: Palatino, Georgia, Times New Roman, Times, serif
$f-code: Roboto Mono, Courier New, Courier, monospace

$ease-cubic: cubic-bezier(.215, .61, .355, 1)
