$s-xs: 5px
$s-sm: 10px
$s-m: 15px
$s-lg: 30px
$s-xl: 60px

$c-black: #000000
$c-light-black: #282828
$c-grey: #f0f0f0
$c-tag-grey: #424242
$c-sand: #c8c8c8
$c-white: #ffffff

$f-medium: "FuturaPT-Medium", sans-serif
$f-light: "FuturaPT-Light", sans-serif
$f-bold: "FuturaPT-Bold", sans-serif

$ease-cubic: cubic-bezier(.215, .61, .355, 1)
