.intro
  font-size: 25px
  line-height: 1.3333

  +rmin(1024)
    font-size: 35px

  +rmin(1440)
    font-size: 45px

  .text
    margin: 40px 0 0

    +rmin(1024)
      margin: 55px 0 0

    +rmin(1440)
      margin: 70px 0 0
